<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DatabaseConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\cc\Desktop\wbSherbime\MasterPagesCS\App_Data\Database.mdf;Integrated Security=True"
       providerName="System.Data.SqlClient" />
    
    <add name="rezervimiConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\cc\Desktop\wbSherbime\MasterPagesCS\App_Data\booking.mdf;Integrated Security=True"
       providerName="System.Data.SqlClient" />
    
  
 </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler,MSCaptcha"/>
    </httpHandlers>
  </system.web>
</configuration>